# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
*.env

# Database
*.db
*.sqlite3

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# Logs
*.log